<h1>Symfony + Svelte = &lt;3</h1>

<style>
    h1 {
        text-align: center;
        color: #D26D26;
    }
</style>

<script>
    import { onMount } from 'svelte';

    onMount(() => {
        console.log(`Hello, Symfony + Svelte!`);
    });
</script>
