{% extends 'base.html.twig' %}

{% block title %}Hello Symfony + Svelte!{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
{% endblock %}
